h2 {
  margin-bottom: 15px;
}

form {
  border-top: 4px solid #009966;
}

.snackbar-success {
  background-color: #4caf50 !important;
  color: #fff !important;
}


.snackbar-error {
  background-color: #f44336 !important;
  color: #fff !important;
}
